---
title: GIT POC
tags: SiteMap
layout: default.hbs
---

<div class="container">
	<div class="row">
		<div class="gap"></div>
		<h3 class="text-center">Search for Git Repo with user name</h3>
		<div class="gap"></div>

		<div class="input-group">
			<input type="text" value="naveenkumarpg" class="form-control username" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-default getdata" type="button">Pull user repos .. !</button>
			</span>
		</div>
	</div>
</div>
	
<div class="gap"></div>

<div id="results" class="container">
	<div class="row">
		<div class="error-container hide">No user data found ...!</div>
		<div class="result-container hide">

		</div>

	</div>
</div>



{{!-- 
<div class="panel panel-default">
			<div class="panel-heading">Panel heading</div>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Username</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div> --}}
